<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="at.fhhagenberg.mint.automate.android.accessibility">

    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"/>

    <application>
        <receiver android:name=".receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="at.fhooe.mint.automate.android.accessibility.START"/>
                <action android:name="at.fhooe.mint.automate.android.accessibility.STOP"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>


        <service
            android:name=".service.AutomateAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config"/>
        </service>
    </application>

</manifest>
